<ins>Instructions day 11</ins>: Find the correlation between attrition and 10 other variables of your choice.

# Preparing the data

Information about the data can be found in [Day 10/Attrition Rate Analysis - Hypothesis.ipynb](../Day%2010/Attrition%20Rate%20Analysis%20-%20Hypothesis.ipynb)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('../Day 10/general_data.csv')

In [2]:
# Drop columns we're not interested in
df.drop(['EmployeeCount', 'EmployeeID', 'Over18', 'StandardHours'], axis=1, inplace=True)

# Drop rows with missing values
df = df.dropna()

# Correlation

In [3]:
df['Attrition01'] = df['Attrition'].map(dict(Yes=1, No=0))
df = df.reindex(columns=sorted(df.columns))
df.head()

,Age,Attrition,Attrition01,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,...,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,0,Travel_Rarely,Sales,6,2,Life Sciences,Female,1,...,Married,131160,1.0,11,0,1.0,6,1,0,0
1,31,Yes,1,Travel_Frequently,Research & Development,10,1,Life Sciences,Female,1,...,Single,41890,0.0,23,1,6.0,3,5,1,4
2,32,No,0,Travel_Frequently,Research & Development,17,4,Other,Male,4,...,Married,193280,1.0,15,3,5.0,2,5,0,3
3,38,No,0,Non-Travel,Research & Development,2,5,Life Sciences,Male,3,...,Married,83210,3.0,11,3,13.0,5,8,7,5
4,32,No,0,Travel_Rarely,Research & Development,10,1,Medical,Male,1,...,Single,23420,4.0,12,2,9.0,2,6,0,4

In [4]:
# Correlation matrix
df.corr()

,Age,Attrition01,DistanceFromHome,Education,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.158399,0.007376,-0.033900,-0.001137,-0.045163,0.299527,-0.032561,-0.031504,0.680037,-0.028962,0.311281,0.215650,0.201580
Attrition01,-0.158399,1.000000,-0.009449,-0.017106,-0.012382,-0.030160,0.042831,0.033153,-0.008164,-0.169670,-0.047586,-0.133003,-0.031423,-0.154692
DistanceFromHome,0.007376,-0.009449,1.000000,-0.007491,-0.039990,-0.022757,-0.014449,0.037720,0.009353,0.009574,-0.008957,0.030746,0.002243,0.021773
Education,-0.033900,-0.017106,-0.007491,1.000000,0.045822,0.007289,-0.016210,-0.041054,0.002386,-0.009228,0.009939,0.005997,0.023457,0.005645
JobLevel,-0.001137,-0.012382,-0.039990,0.045822,1.000000,0.046688,-0.009759,0.010874,0.000365,-0.036293,-0.031931,-0.063360,-0.059680,-0.053898
MonthlyIncome,-0.045163,-0.030160,-0.022757,0.007289,0.046688,1.000000,-0.021446,0.004607,0.027242,-0.034398,0.049780,0.000088,0.064470,0.023095
NumCompaniesWorked,0.299527,0.042831,-0.014449,-0.016210,-0.009759,-0.021446,1.000000,0.030064,0.016291,0.238807,-0.031335,-0.117213,-0.035855,-0.109372
PercentSalaryHike,-0.032561,0.033153,0.037720,-0.041054,0.010874,0.004607,0.030064,1.000000,0.012104,-0.018480,-0.036720,-0.029022,-0.028654,-0.039687
StockOptionLevel,-0.031504,-0.008164,0.009353,0.002386,0.000365,0.027242,0.016291,0.012104,1.000000,0.003138,-0.068028,0.009369,0.019889,0.019398
TotalWorkingYears,0.680037,-0.169670,0.009574,-0.009228,-0.036293,-0.034398,0.238807,-0.018480,0.003138,1.000000,-0.041459,0.627738,0.404058,0.458640
TrainingTimesLastYear,-0.028962,-0.047586,-0.008957,0.009939,-0.031931,0.049780,-0.031335,-0.036720,-0.068028,-0.041459,1.000000,-0.010447,0.015340,-0.015792
YearsAtCompany,0.311281,-0.133003,0.030746,0.005997,-0.063360,0.000088,-0.117213,-0.029022,0.009369,0.627738,-0.010447,1.000000,0.618722,0.769161
YearsSinceLastPromotion,0.215650,-0.031423,0.002243,0.023457,-0.059680,0.064470,-0.035855,-0.028654,0.019889,0.404058,0.015340,0.618722,1.000000,0.510341
YearsWithCurrManager,0.201580,-0.154692,0.021773,0.005645,-0.053898,0.023095,-0.109372,-0.039687,0.019398,0.458640,-0.015792,0.769161,0.510341,1.000000

## 1. Age vs Attrition

In [5]:
from scipy.stats import pearsonr

stats,p = pearsonr(df.Attrition01, df.Age)
print("p-value:", p)
print("reject H0:", p<0.05)

p-value: 5.1265982193780794e-26
reject H0: True

Null hypothesis can be rejected: There is a correlation between age and attrition.

## 2. Monthly income vs Attrition

In [6]:
stats,p = pearsonr(df.Attrition01, df.MonthlyIncome)
print("p-value:", p)
print("reject H0:", p<0.05)

p-value: 0.045890862744719166
reject H0: True

Null hypothesis can be rejected: There is a correlation between monthly income and attrition

## 3. Total working years vs Attrition

In [7]:
stats,p = pearsonr(df.Attrition01, df.TotalWorkingYears)
print("p-value:", p)
print("reject H0:", p<0.05)

p-value: 1.1645434967091854e-29
reject H0: True

Null hypothesis can be rejected: There is a correlation between total working years and attrition

## 4. Num companies worked vs Attrition

In [8]:
stats,p = pearsonr(df.Attrition01, df.NumCompaniesWorked)
print("p-value:", p)
print("reject H0:", p<0.05)

p-value: 0.004572057121620842
reject H0: True

Null hypothesis can be rejected: There is a correlation between the number of companies an employee has worked for and attrition

## 5. Years at company vs Attrition

In [9]:
stats,p = pearsonr(df.Attrition01, df.YearsAtCompany)
print("p-value:", p)
print("reject H0:", p<0.05)

p-value: 9.476118084836507e-19
reject H0: True

We can reject the null hypothesis: There is a correlation between the number of years at the company and attrition.

## 6. Years since promotion vs Attrition

In [10]:
stats,p = pearsonr(df.Attrition01, df.YearsSinceLastPromotion)
print("p-value:", p)
print("reject H0:", p<0.05)

p-value: 0.03752293607395154
reject H0: True

We can reject the null hypothesis: There is a correlation between the number of years since the last promotion and attrition

## 7. Job level vs Attrition

In [11]:
stats,p = pearsonr(df.Attrition01, df.JobLevel)
print("p-value:", p)
print("reject H0:", p<0.05)

p-value: 0.4125489150380087
reject H0: False

We cannot reject the null hypothesis: There is no evidence of correlation between job level and attrition

## 8. Education vs Attrition

In [12]:
stats,p = pearsonr(df.Attrition01, df.Education)
print("p-value:", p)
print("reject H0:", p<0.05)

p-value: 0.25757539308157945
reject H0: False

We cannot reject the null hypothesis: There is no evidence of correlation between education and attrition

## 9. Number of training vs Attrition

In [13]:
stats,p = pearsonr(df.Attrition01, df.TrainingTimesLastYear)
print("p-value:", p)
print("reject H0:", p<0.05)

p-value: 0.0016276603635477602
reject H0: True

Null hypothesis can be rejected: There is a correlation between training times and attrition.

## 10. Distance from home vs Attrition

In [14]:
stats,p = pearsonr(df.Attrition01, df.DistanceFromHome)
print("p-value:", p)
print("reject H0:", p<0.05)

p-value: 0.5317715668019558
reject H0: False

Null hypothesis cannot be rejected: There is no evidence showing correlation between distance from home and attrition